doctype html
html(lang="ru")
    include ../includes/_head

    body

        include ../includes/_search

        include ../includes/_index_main

        include ../includes/_footer

        include ../includes/_scripts