.shop_menu
    .close_btn
        span
        span
    nav.categories
        ul
            h5 Catagories
            li
                a(href='#') Chairs
            li
                a(href='#') Beds
            li
                a(href='#') Accessories
            li
                a(href='#') Furniture
            li
                a(href='#') Home Deco
            li
                a(href='#') Dressings
            li
                a(href='#') Tables
    nav.brands
        ul
            h5 Brands
            li
                input(type="checkbox" id="Amado_check")
                label(for="Amado_check") Amado
            li
                input(type="checkbox" id="Ikea_check")
                label(for="Ikea_check") Ikea
            li
                input(type="checkbox" id="Furniture_check")
                label(for="Furniture_check") Furniture Inc
            li
                input(type="checkbox" id="Factory_check")
                label(for="Factory_check") The factory
            li
                input(type="checkbox" id="Artdeco_check")
                label(for="Artdeco_check") Artdeco
    nav.color
        h5 Color
        ul

            li
                a(href='#')
            li
                a(href='#')
            li
                a(href='#')
            li
                a(href='#')
            li
                a(href='#')
            li
                a(href='#')
            li
                a(href='#')
            li
                a(href='#')
    .price_filter
        h5 Price

