.checkout_main_content
    h3 Checkout
    form.checkout_form
        input(type="text" placeholder="Name").left
        input(type="text" placeholder="Last Name").right
        input(type="email" placeholder="Email")
        input(type="text" placeholder="Town")
        input(type="text" placeholder="Address")
        input(type="phone" placeholder="Phone")
        textarea(placeholder='Comment')
        .new_acc
            input(type="checkbox")#create_account
            label(for="create_account") Create an account