footer
    section.footer_top_section
        .text_block
            h2 Subscribe for a
                span  25% Discount
            p Nulla ac convallis lorem, eget euismod nisl. Donec in libero sit amet mi vulputate consectetur. Donec auctor interdum purus, ac finibus massa bibendum nec.

        form.email_block
            input(type='email' placeholder="Your E-mail")
            button(type='submit') Subscribe
    section.footer_bottom_section
        .logo_footer_block
            a.footer_logo
                img(src="img/logo2.png")
        nav.footer_menu
            ul
                li
                    a(href='#') Home
                li
                    a(href='#') Shop
                li
                    a(href='#') Product
                li
                    a(href='#') Cart
                li
                    a(href='#') Checkout
