header
    .mobile_header__wrapper
        a.header_logo_mobile(href="#")
            img(src='img/logo.png')
        .burger_button
            span
    .header__wrapper
       a.header_logo(href="#")
        img(src='img/logo.png')
       nav.header_main_menu
            ul
                li
                    a(href="index.html") home
                li
                    a(href="shop.html") shop
                li
                    a(href="product.html") product
                li
                    a(href="cart.html") cart
                li
                       a(href="checkout.html") checkout
        .button_block
            button.button %Discount%
            button.button.active New this week
        nav.header_second_menu
            ul
                li
                    img(src='img/cart.png')
                    a(href="#") cart
                    span (0)
                li
                    img(src='img/favorites.png')
                    a(href="#") favorite
                li
                    img(src='img/search.png')
                    a#search(href="#") search

        .header_social_block
            a(href='#').header_social_block_item
                //img(src='')
            a(href='#').header_social_block_item
               // img(src='')
            a(href='#').header_social_block_item
                //img(src='')
            a(href='#').header_social_block_item
                //img(src='')
