.index_main_content
    a(href='#').index_main_content_item
        .main_content_item_headline
            p From $180
            h4 Modern Chair
        .index_main_content_item_image
            img(src='img/1.jpg')
    a(href='#').index_main_content_item
        .main_content_item_headline
            p From $180
            h4 Minimalistic Plant Pot
        .index_main_content_item_image
            img(src='img/2.jpg')
    a(href='#').index_main_content_item
        .main_content_item_headline
            p From $180
            h4 Modern Chair
        .index_main_content_item_image
            img(src='img/3.jpg')
    a(href='#').index_main_content_item
        .main_content_item_headline
            p From $18
            h4 Plant Pot
        .index_main_content_item_image
            img(src='img/5.jpg')
    a(href='#').index_main_content_item
        .main_content_item_headline
            p From $320
            h4 Small Table
        .index_main_content_item_image
            img(src='img/6.jpg')
    a(href='#').index_main_content_item
        .main_content_item_headline
            p From $180
            h4 Night Stand
        .index_main_content_item_image
            img(src='img/4.jpg')
    a(href='#').index_main_content_item
        .main_content_item_headline
            p From $318
            h4 Modern Rocking Chair
        .index_main_content_item_image
            img(src='img/8.jpg')
    a(href='#').index_main_content_item
        .main_content_item_headline
            p From $318
            h4 Home Deco
        .index_main_content_item_image
            img(src='img/9.jpg')
    a(href='#').index_main_content_item
        .main_content_item_headline
            p From $318
            h4 Metallic Chair
        .index_main_content_item_image
            img(src='img/7.jpg')