.product_main_content
    .line_breadcrumbs
        a(href="#") Home
        span >
        a(href="#") furniture
        span >
        a(href="#") Chairs
        span >
        span WHITE MODERN CHAIR
    .product_main__wrapper
        .owl_photo_wrapper
            .owl_photo_block.owl-carousel
                .item_photo
                   img(src="img/pro-big-1.jpg")
                .item_photo
                    img(src="img/pro-big-2.jpg")
                .item_photo
                    img(src="img/pro-big-3.jpg")
                .item_photo
                    img(src="img/pro-big-4.jpg")
        .info__wrapper
            span $180
            h3 White Modern Chair
            .product_star_line
                span ★★★★★
                a(href='#') Write A Review
            p.in_stock In Stock
            p.description Lorem ipsum dolor sit amet,
                | consectetur adipisicing elit. Aliquid quae eveniet culpa officia
                | quidem mollitia impedit iste asperiores nisi reprehenderit consequatur,
                | autem, nostrum pariatur enim?
            .quantity
                span Qty
                input(type="number" step='1' min='1' max='100' value='1' placeholder='Qty')
            button.add_to_cart Add to cart


