.search_block
    button.close_search
    .search__wrapper
        button.search_image(type="submit")
            img(src="img/search.png")
        input.search_line(type="search" placeholder="Type your keyword...")