.shopping_cart

    h3 Shopping Cart
    .cart_wrapper
        .cart_line.headline
            .cart_line_item
            .cart_line_item
                span Name
            .cart_line_item
                span Price
            .cart_line_item
                span Quantity

        .cart_line
            .cart_line_item
                a(href="#").cart_img_product
                    img(src="img/cart1.jpg")
            .cart_line_item
                h5 White Modern Chair
            .cart_line_item
                h5 $130
            .cart_line_item
                .quantity_in_cart
                    span Qty
                    span -
                    span 1
                    span +
        .cart_line
            .cart_line_item
                a(href="#").cart_img_product
                    img(src="img/cart2.jpg")
            .cart_line_item
                h5 White Modern Chair
            .cart_line_item
                h5 $130
            .cart_line_item
                .quantity_in_cart
                    span Qty
                    span -
                    span 1
                    span +
        .cart_line
            .cart_line_item
                a(href="#").cart_img_product
                    img(src="img/cart3.jpg")
            .cart_line_item
                h5 White Modern Chair
            .cart_line_item
                h5 $130
            .cart_line_item
                .quantity_in_cart
                    span Qty
                    span -
                    span 1
                    span +