.shop_main_content
    span.button_categories Categories
    h5 SHOWING 1-8 0F 25

    .line_show__wrapper
        .line_show_menu
            .block_window
                .block_window_item
                .block_window_item
                .block_window_item
                .block_window_item
            .block_list
                span
                span
                span
        .line_filter
            .sort
                span Sort by
                button#date Date


                ul
                    li
                        a Date
                    li
                        a Newest
                    li
                        a Popular
            .view
                span View
                button#number 12

                    ul
                        li
                            a 12
                        li
                            a 24
                        li
                            a 48
                        li
                            a 96
    .product__wrapper
        .product_item
            .block_image
                .img_block
                    img(src="img/product1.jpg")
                .img_block
                    img(src="img/product2.jpg")
            .product_item_info_line
                .left_info_line
                    span.price_product $180
                    a(href="#").name_product Modern Chair
                .right_info_line
                    span.product_item_star ★★★★★
                    a(href="#").product_item_cart
                        img(src="img/cart.png")
        .product_item
            .block_image
                .img_block
                    img(src="img/product2.jpg")
                .img_block
                    img(src="img/product3.jpg")
            .product_item_info_line
                .left_info_line
                    span.price_product $180
                    a(href="#").name_product Modern Chair
                .right_info_line
                    span.product_item_star ★★★★★
                    a(href="#").product_item_cart
                        img(src="img/cart.png")
        .product_item
            .block_image
                .img_block
                    img(src="img/product3.jpg")
                .img_block
                    img(src="img/product4.jpg")
            .product_item_info_line
                .left_info_line
                    span.price_product $180
                    a(href="#").name_product Modern Chair
                .right_info_line
                    span.product_item_star ★★★★★
                    a(href="#").product_item_cart
                        img(src="img/cart.png")
        .product_item
            .block_image
                .img_block
                    img(src="img/product4.jpg")
                .img_block
                    img(src="img/product5.jpg")
            .product_item_info_line
                .left_info_line
                    span.price_product $180
                    a(href="#").name_product Modern Chair
                .right_info_line
                    span.product_item_star ★★★★★
                    a(href="#").product_item_cart
                        img(src="img/cart.png")
        .product_item
            .block_image
                .img_block
                    img(src="img/product5.jpg")
                .img_block
                    img(src="img/product6.jpg")
            .product_item_info_line
                .left_info_line
                    span.price_product $180
                    a(href="#").name_product Modern Chair
                .right_info_line
                    span.product_item_star ★★★★★
                    a(href="#").product_item_cart
                        img(src="img/cart.png")
        .product_item
            .block_image
                .img_block
                    img(src="img/product6.jpg")
                .img_block
                    img(src="img/product1.jpg")
            .product_item_info_line
                .left_info_line
                    span.price_product $180
                    a(href="#").name_product Modern Chair
                .right_info_line
                    span.product_item_star ★★★★★
                    a(href="#").product_item_cart
                        img(src="img/cart.png")
    .pagination_line
        span 01.
        span 02.
        span 03.
        span 04.